@model GetAllCategoryDTO
@using Microsoft.AspNetCore.Identity;
@using E_commerce.Models;
@inject SignInManager<ApplicationUser> signInManager

<div>
    <h4>@Model.Name</h4>
    <div>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a> |
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Editor"))
        {
            <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        }

        else if (signInManager.IsSignedIn(User) && (User.IsInRole("Administrator")))
        {
            <a asp-controller="Category" asp-action="Delete" asp-route-id=@Model.Id class="btn btn-danger">Delete</a>
        }
    </div>

    <hr />

    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100" style="background-color: #9896f1;">
                    <div class="card-body">
                        <img src="@item.ImageUrl" class="card-img-top" alt="Product Image" style="width:100%; height:50%;">
                        <h5 class="card-title text-white">@item.Name</h5>
                        <p class="card-text text-white">Price: $@item.Price</p>
                        <p class="card-text text-muted">@item.Description</p>
                        <a class="btn btn-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Editor")))
    {
        <div>
            <a class="btn btn-primary" asp-controller="Product" asp-action="Create" asp-route-id="@Model.Id">Add new Product</a>
        </div>
    }
</div>
