@model GetAllCategoryDTO


<div>
    <h4>@Model.Name</h4>
    <div>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>   |
        <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> |
        <a asp-controller="Category" asp-action="Delete" asp-route-id=@Model.Id class="btn btn-danger">Delete</a>
    </div>
    <hr />
    <table border=1 class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Detalis
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                   <a class="btn btn-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Detalis</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Add new Product</a>
    </div>
</div>
