@model ProductCategoryDTO 

<div>
    <h4>@Model.Name</h4>
    <hr />
    <table border=1 class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                CategoryName
            </th>
        </tr>
    </thead>
    <tbody>
     <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.categoryname)
            </td>
     </tr>
    </tbody>
</table>
</div>
<br />
<div>
    <a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Back to List</a> |
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> |
    <a asp-controller="Product" asp-action="Delete" asp-route-id=@Model.Id class="btn btn-danger">Delete</a>
</div>
