@model ProductCategoryDTO 

<div>
    <h4>@Model.Name</h4>
    <hr />

    <table class="table table-user-information">
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Id)</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
            </tr>

            <tr>
                <td>Price</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Price)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Description)</td>
            </tr>
            <tr>
                <td>Category's Name</td>
                <td>@Html.DisplayFor(modelItem => modelItem.categoryname)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Back to List</a> |
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> |
    <a asp-controller="Product" asp-action="Delete" asp-route-id=@Model.Id class="btn btn-danger">Delete</a>
</div>
