@model List<ProductCategoryDTO>
@using Microsoft.AspNetCore.Identity;
@using E_commerce.Models;
@inject SignInManager<ApplicationUser> signInManager

<h4>Product Page</h4>
<hr />
<p>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Administrator")))
    {
        <a asp-action="Create" class="btn btn-primary">Create New Product</a>
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100" style="background-color: #343a40;">
                <div class="card-body">
                    <h5 class="card-title text-white">@item.Name</h5>
                    <p class="card-text text-white">Price: $@item.Price</p>
                    <p class="card-text text-muted">@item.Description</p> <!-- Use text-muted for description color -->
                    <p class="card-text text-white">Category: @item.categoryname</p>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>

                    <a asp-controller="Product" asp-action="AddProductToCart" asp-route-product="@item.Id" class="btn btn-outline-info">Add To The Cart</a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to home page</a>
</div>
