@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@using E_commerce.Models;
@using System.Security.Claims

@model E_commerce.Models.Cart

@{
    var user = await SignInManager.UserManager.GetUserAsync(User);
    string loggedInUserId = user?.Id;
    var userCart = Model.CartProducts.Where(cart => cart.UserId == loggedInUserId).ToList();
}

<div class="container">
    <h1>Your Shopping Cart</h1>

    @if (userCart.Count == 0)
    {
        <p>Your cart is empty.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in userCart)
                {
                    <tr>
                        <td>
                            <img src="@item.Product" alt="@item.Product.Name" width="100">
                            <p>@item.Product.Name</p>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-minus" type="button">-</button>
                                </span>
                                <input type="text" class="form-control text-center" value="@item.Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-plus" type="button">+</button>
                                </span>
                            </div>
                        </td>
                        <td>@item.Product.Price</td>
                        <td>@(item.Quantity * item.Product.Price)</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-right">
            <p>Total: @(userCart.Sum(item => item.Quantity * item.Product.Price))</p>
            <a href="#" class="btn btn-primary">Checkout</a>
        </div>
    }
</div>