@using Microsoft.AspNetCore.Identity

@model E_commerce.Models.Cart  

<h1>Your Shopping Cart</h1>

@if (Model.CartProducts.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartProduct in Model.CartProducts)
            {
                <tr>
                    <td>
                        <img src="@cartProduct.Product.ImageUrl" class="img-fluid" style="width: 150px;" alt="Product Image">
                        @cartProduct.Product.Name
                    </td>
                    <td>@cartProduct.Quantity</td>
                    <td>@cartProduct.Product.Price</td>
                    <td>@(cartProduct.Quantity * cartProduct.Product.Price)</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Total</p>

    <a href="/Checkout" class="btn btn-outline-dark , m-4" >Proceed to Checkout</a>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark , m-4">Back to home page</a>
    </div>
}
