@using Microsoft.AspNetCore.Identity

@model E_commerce.Models.Cart  

@{
    double TotalPrice = ViewBag.Total.Result;
    double Total = 0;
}
<h1>Your Shopping Cart</h1>

@if (Model.CartProducts.Count == 0)
{
    <div class="row" style="min-height: 100vh ;">
        <p>Your cart is empty.</p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartProduct in Model.CartProducts)
            {
                <tr>
                    <td>
                        <img src="@cartProduct.Product.ImageUrl" class="img-fluid" style="width: 150px;" alt="Product Image">
                        @cartProduct.Product.Name
                    </td>
                    <td>@cartProduct.Quantity</td>
                    <td>@cartProduct.Product.Price</td>
                    <td>@(cartProduct.Quantity * cartProduct.Product.Price)</td>
                    @{
                        Total += (cartProduct.Quantity * cartProduct.Product.Price);
                    }
                    <td> <a asp-controller="Cart" asp-action="DeleteProductFromCart" asp-route-id="@cartProduct.Product.Id" class="btn btn-outline-dark , m-4">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @(Total)</p>

    <a href="/Checkout" class="btn btn-outline-dark , m-4" >Proceed to Checkout</a>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark , m-4">Back to home page</a>
    </div>
}
